.sidenav-container {
    height: 100%;
    width: 18%;
}

.menu-icon {
    color: #606060;
    margin-top: 20px;
    margin-left: 20px;
}

.logo-container {
    display: inline-flex;
}

.logo-text {
    margin-top: 22px;
    margin-left: 10px;
}